@import 'scss/_utils.scss';

.posts-list-item {
  @include flex(center, center);
  height: 38vh;
  margin-bottom: 5vh;
  padding: 3vh 2vw;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 2px 2px $back-color;
    .title {
      color: $purpleLeaf;
    }
  }

  .thum-wrap {
    width: 23%;
    margin: 0 auto;
    .thum {
      padding-top: 100%;
      background-color: #e6e6e6;
    }
  }

  .posts-area {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 70%;
    height: 100%;
    .category {
      color: $pink;
    }
    .title {
      font-size: 2.5rem;
      font-weight: 700;
      transition: all ease 0.5s;
    }
    .tags {
      @include flex(flex-start, flex-start);
      // width: 100%;
      flex-wrap: wrap;
      .tag {
        padding: 0 12px;
        margin: 0 5px;
        border-radius: 25px;
        margin-bottom: 5px;
        color: $back-color;
        background-color: $fontcolor;
        cursor: pointer;
        transition: all ease 0.5s;

        &:hover {
          color: $fontcolor;
          background-color: $back-color;
        }
      }
    }
    .reg-date {
      text-align: end;
      color: $purple;
      background-image: url('/icon/calendar.svg');
      background-repeat: no-repeat;
      background-position-x: 90%;
    }
  }
}
