/* 브랜드 컬러 */
$purpleLeaf: #a97dc5;
$purple: #8c5aa6;
$fontcolor: #4e4964;
$pink: #d995d3;
$lightpink: #eec0ec;
$back-color: #e7deeb;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin icon($width, $height, $icon) {
  width: $width;
  height: $height;
  background-image: url('/icon/' + $icon + '.svg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  cursor: pointer;
  &:hover {
    background-position-x: -$width;
  }
  &:active {
    background-position-x: -$width * 2;
  }
}
