@import 'scss/_utils.scss';

#Category {
  @include flex(flex-start, flex-start);
  // width: 15vw;
  align-self: flex-start;
  flex-direction: row;
  position: relative;
  font-size: 1.4rem;
  // position: absolute;
  // width: 15vw;
  .category-inner {
    width: 10vw;
    position: absolute;
    top: 10vh;
    left: 2.5vw;
    border: 1px solid #e6e6e6;
    padding: 2.5vh 1vw;
    .total-view {
      text-align: center;
    }
    .title {
      height: 3vh;
      &:hover {
        // height: 2.5rem;
        // line-height: 2.5rem;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .small-cate {
      > .title {
        padding-left: 1vw;
      }
    }
  }
}
