@import 'scss/_utils.scss';

#Category {
  @include flex(flex-start, flex-start);
  align-self: flex-start;
  flex-direction: row;
  position: relative;
  font-size: 1.4rem;
  .category-inner {
    width: 12vw;
    position: absolute;
    top: 8vh;
    left: 1.5vw;
    border: 1px solid #e6e6e6;
    padding: 2.5vh 1vw;
    background-color: #ffffff;

    &.fixed {
      position: fixed;
    }

    .total-view {
      text-align: center;
    }
    .title {
      height: 3vh;
      &:hover {
        font-weight: 700;
        cursor: pointer;
      }
    }
    .small-cate {
      > .title {
        padding-left: 1vw;
      }
    }
  }
}
