@import 'scss/_utils.scss';

#Header {
  @include flex(center, space-between);
  width: 100vw;
  height: 8vh;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;

  .menu-icon {
    width: 24px;
    height: 24px;
    background-image: url('/icon/category.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  > h1 {
    font-size: 2.8rem;
    font-weight: 800;
  }
}
