@import 'scss/_utils.scss';

#Header {
  @include flex(center, flex-start);
  position: relative;
  width: 100%;
  height: 20vh;
  padding: 0 2vw;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
  // transition: all ease 0.2s;
  z-index: 1002;

  &.isFixed {
    position: fixed;
    width: 100%;
    height: 70px;
    transition: unset;
  }

  .menu-icon {
    @include icon(27px, 25.5px, category);
    justify-self: flex-start;
  }

  .center-wrap {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    flex-direction: column;

    .header-title {
      font-size: 3.8rem;
      font-weight: 700;
      margin: auto;
      transition: all ease 0.8s;
      &:hover {
        color: $purpleLeaf;
      }
    }

    .page-navi {
      @include flex(center, center);
      align-self: center;

      &.isFixed {
        height: 0;
        overflow-y: hidden;
        transition: all ease 0.2s;
      }

      .navi {
        width: 7vw;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.5rem;
        padding: 0 1.5vw;
        padding-bottom: 5px;
        text-align: center;
        cursor: pointer;
        &:hover,
        &.active {
          font-weight: 700;
          padding-bottom: initial;
          border-bottom: 5px solid #a97dc5;
        }
      }
    }
  }

  .search-wrap {
    @include flex(center, flex-end);
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    z-index: 1001;
    border: solid 1px $purpleLeaf;
    border-radius: 24px;
    background-color: #ffffff;
    padding: 10px 10px;
    .search-input {
      width: 300px;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      transition: all ease 0.2s;

      &:disabled {
        width: 0px;
        padding: 0px;
        background-color: #ffffff;
      }
    }

    .search-icon {
      @include icon(24px, 24px, search);
    }
  }
}
