@import 'scss/_utils.scss';

#Remote {
  position: relative;
  .remote-inner {
    @include flex(center, center);
    position: absolute;
    bottom: 16vh;
    right: calc(2vw - 7px);

    &.fixed {
      position: fixed;
      bottom: 3vh;
      right: 2vw;
    }
  }
}
